# Ignore everything
*

# except:

# The directory itself must be re-included, otherwise its files cannot be re-included.
!/docker
!/docker/**/Caddyfile
!/config
!/public
!/src
!autoload.php
!yii
!composer.json
!composer.lock
!.env*
